.Header {

    .Header-Logo {
        background:#fff;
        height:100px;
        padding:0 5%;
        // @media only screen and (max-width: 1300px) {
        //     padding:0 5%
        // }
        
        .LeftHeader {
            float:left;
            width: 60%;
            height: 100%;
            align-self: left;

            .logo {
                background-image: url('/logo.png');
                background-size: 190px;
                background-repeat: no-repeat;
                position: relative;
                float: left;
                margin: 15px 30px 0 0;
                width: 200px;
                height: 100%;
            }
        }


        .RightHeader {
            float: right;
            width: 40%;
            align-self: right;
            justify-content: space-between;

            padding: 30px 30px;

            i {
                float: right;
                font-size: 22px;
                margin: 7px 0 0 20px;
                color: gray;
                cursor: pointer;
            }
        }

    }

    .Header-Navbar{
        height: 60px;
        display: flex;
        //width: calc(100vw - 200px);
        background: #fff;
        border-bottom: 1px solid #eaeaea;
        border-top: 1px solid transparent;

        padding:0 5%;
        // @media only screen and (max-width: 1300px) {
        //     padding:0 5%
        // }


        .LeftHeader {
            display: flex;
            width: 75%;
            margin-left: 10px;
            height: 100%;
            line-height: 2.2rem;
            align-self: center;

            .sm-screen-menu {
                display: none
            }

            a {
                position: relative;
                &:before {
                    content:'';
                    position: absolute;
                    bottom: 0; left:0; right:0;
                    height: 3px;
                    background:transparent;
                }
                &:after {
                    content:'';
                    position: absolute;
                    bottom: 3px; left:49%;
                    width: 0; height:0;
                    border: 5px solid transparent;
                    border-bottom-color: transparent;
                    background:transparent;
                }
                &:hover{
                    &:before {
                        background-color: #004F00;
                    }
                    &:after {
                        border-bottom-color: #004F00;
                    }
                }

                .Item {
                    padding: 12px 12px 13px;
                    //padding-left: 20px;
                    line-height: 2.3;
                    cursor: pointer;
                    color: #004F00;

                    // &:hover {
                    //     text-decoration: none;
                    //     color: #fff
                    // }

                    i {
                        margin-right: 10px;
                    }

                }

                // @media (max-width: 1500px) and (min-width: 1100px) {
                text-decoration: none;
                display: inline-block;

                &.active {
                    &:before{
                        background-color: #004F00;
                    }
                    &:after {
                        border-bottom-color: #004F00;
                    }
                }
                // &.active {
                //     .Item {
                //         color: #fff;
                //     }
                // }
            }

            @media (max-width: 1500px) {
                .wide-screen-menu .Item:not(.item-menu) {
                    font-size: 0;
                    padding: 18px 25px 21px;

                    i {
                        display: inline-block;
                        margin: 0;
                        font-size: 1.2rem !important;
                        text-align: center;
                    }
                }
            }

            @media (max-width: 1100px) {
                .sm-screen-menu {
                    display: block;

                    a {
                        display: block
                    }
                }

                .menu-dd {
                    position: absolute;
                    z-index: 999;
                    background: #fff;
                    border: 1px solid #e5e5e5;
                    border-radius: 0 0 5px 5px;
                    padding: 5px;
                    margin-top: 10px;

                    a{
                        &:hover, &.active {
                            text-decoration: none;
                            background-color: #004F00;
                            color: #fff;
                            .Item {
                                color: #fff;
                            }
                        }

                        .Item {
                            padding: 2px 15px
                        }
                    }
                }

                .menu-dd:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: -5px;
                    left: 30px;
                    width: 10px;
                    height: 10px;
                    border: 1px solid transparent;
                    border-top-color: #e5e5e5;
                    border-left-color: #e5e5e5;
                    background: #fff;
                    transform: rotate(45deg);

                    // width:0;
                    // height:0;
                    // border:10px solid transparent;
                    // border-bottom:10px solid #fff;
                }

                .wide-screen-menu {
                    display: none
                }
            }


            .LeftMenu {

                @media only screen and (min-width: 768px) {
                    display: none;
                }

                i {
                    font-size: 25px;
                    margin: 0 10px;
                }
            }
        }

        .RightHeader {
            float: right;
            width: 30%;
            align-self: right;
            justify-content: space-between;

            padding: 10px 0;

            .search-form {
                position: relative;
                width: 90%;
                float: right;

            }

            input {
                // @media only screen and (max-width: 768px) {
                @media only screen and (max-width: 800px) {
                    display: none;
                }
            }

        }
    }
}