.Header {

    .Header-Logo {
        height:100px;
        padding:0 15%;
        @media only screen and (max-width: 1300px) {
            padding:0 5%
          }
        
        .LeftHeader {
            float:left;
            width: 60%;
            height: 100%;
            align-self: left;

            .logo {
                background-image: url('/logo.png');
                background-size: 190px;
                background-repeat: no-repeat;
                position: relative;
                float: left;
                margin: 15px 30px 0 0;
                width: 200px;
                height: 100%;
            }
        }


        .RightHeader {
            float: right;
            width: 40%;
            align-self: right;
            justify-content: space-between;

            padding: 30px 30px;

            i {
                float: right;
                font-size: 22px;
                margin: 7px 0 0 20px;
                color: gray;
                cursor: pointer;
            }
        }

    }

    .Header-Navbar{
        height: 60px;
        display: flex;
        //width: calc(100vw - 200px);
        background: #fff;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;

        .LeftHeader {
            display: flex;
            width: 60%;
            margin-left: 10px;
            height: 100%;
            line-height: 2.2rem;
            align-self: center;

            .sm-screen-menu {
                display: none
            }

            a {
                &:hover {
                    background-color: #004F00;
                }

                .Item {
                    padding: 12px 12px 13px;
                    padding-left: 20px;
                    line-height: 2.3;
                    cursor: pointer;
                    color: #004F00;

                    &:hover {
                        text-decoration: none;
                        color: #fff
                    }

                    i {
                        margin-right: 10px;
                    }

                }

                // @media (max-width: 1500px) and (min-width: 1100px) {
                text-decoration: none;
                display: inline-block;

                &.active {
                    background-color: #004F00;

                    .Item {
                        color: #fff;
                    }
                }
            }

            @media (max-width: 1500px) {
                .wide-screen-menu .Item:not(.item-menu) {
                    font-size: 0;
                    padding: 18px 25px 7px;

                    i {
                        display: inline-block;
                        margin: 0;
                        font-size: 1.2rem !important;
                        text-align: center;
                    }
                }
            }

            @media (max-width: 1100px) {
                .logo {
                    margin: 5px 20px 0 20px;
                }

                .sm-screen-menu {
                    display: block;

                    a {
                        display: block
                    }
                }

                .menu-dd {
                    position: absolute;
                    z-index: 999;
                    background: #fff;
                    border: 1px solid #e5e5e5;
                    border-radius: 0 0 5px 5px;
                    padding: 5px;
                    margin-top: 10px;

                    .Item {
                        padding: 2px 15px
                    }
                }

                .menu-dd:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: -5px;
                    left: 30px;
                    width: 10px;
                    height: 10px;
                    border: 1px solid transparent;
                    border-top-color: #e5e5e5;
                    border-left-color: #e5e5e5;
                    background: #fff;
                    transform: rotate(45deg);

                    // width:0;
                    // height:0;
                    // border:10px solid transparent;
                    // border-bottom:10px solid #fff;
                }

                .wide-screen-menu {
                    display: none
                }
            }


            .LeftMenu {

                @media only screen and (min-width: 768px) {
                    display: none;
                }

                i {
                    font-size: 25px;
                    margin: 0 10px;
                }
            }

            .TitleHeader {

                @media only screen and (min-width: 768px) {
                    display: none;
                }

                font-family: 'Courier New',
                Courier,
                monospace;
                font-weight: bold;
                width: 100%;
                text-align: center;
            }
        }

        .RightHeader {
            float: right;
            width: 40%;
            align-self: right;
            justify-content: space-between;

            padding: 10px 0;

            .search-form {
                position: relative;
                width: 60%;
                float: left
            }

            input {
                // @media only screen and (max-width: 768px) {
                @media only screen and (max-width: 800px) {
                    display: none;
                }
            }

        }
    }
}