.Sidebar{

    @media only screen and (max-width: 768px) {
        display: none;
    }

    background-color: #4e3558;
    min-width: 200px;
    color: white;

    .Title{
        font-family: 'Courier New', Courier, monospace;
        padding: 15px;
        background-color: #311b31;
    }

    .Menu{
        .Item{
            padding: 12px;
            padding-left: 20px;
            cursor: pointer;
        }
        
        i{
            margin-right: 10px;
        }
    }
}