.DashboardPage{
    width: calc(100vw - 270px);

    .Title{
        font-size: 20px;
        font-weight: bold;
    }

    .MenuPeriod{
        margin-top: 20px;
    }

    .Main{
        margin-top: 20px;
        font-size: 15px;

        .Last{
            margin-right: 0px !important;
        }

        .Row{
            display: flex;
            max-width: 100%;
        }

        .Item{
            padding: 10px;
            margin-bottom: 5px;
            background-color: white;
            width: 100%;
            margin-right: 5px;
            font-weight: bold;

            .ItemTitle{

            }

            .ItemCount{
                font-size: 50px;
                text-align: center;
            }
        }
    }
}