.SettingsPage {
    .MuiTypography-root {
        font-size: 0.9rem;
        padding-top: 5px
    }

    .MuiFormControlLabel-root {
        margin: 0
    }

    .MuiButtonBase-root {
        padding: 4px
    }

    h5 {
        font-size: 0.9rem;
        font-weight: 600;
        // margin: 0.9rem 0 0.2rem
        margin: 0 0 0.2rem;
        line-height: 1.9
    }

    .label {
        margin-top: 3px;
        padding-left: 4px
    }

    .rows {
        display: block;
        padding: 10px 0;
    }

    .valuess {
        padding: 0 20px;

        .rows {
            display: block;
            padding: 5px 0;

            &:not(:last-child) {
                border-bottom: 1px solid #eaeaea;
            }
        }
    }

}