.CapturePage {
    // min-width: calc(100vw - 300px);
    // height: 100%;

    .Table {
        position: relative;
        width: 100%;
        padding: 0;
        background-color: white;

        table,
        tbody,
        tr {
            position: relative;
            width: 100%
        }

        table {
            table-layout: fixed;
        }

        td {
            overflow: hidden;
        }

        td.stt {
            width: 20px !important;
            padding-left: 4px!important;
            padding-right:0!important;
        }

        thead {
            font-weight: 600;
            // font-size:1.1rem
        }
    }

    // .Table, .Table tbody, .Table tr{
    //     position: relative;
    //     width: 100%;
    // }

    .file_name,
    .file_hash {
        position: relative;
        display: block;
        max-width: 96%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item-stt {
        .badge {
            margin-top: 2px;
            float: right;
        }
    }

    .filtering {
        cursor: default;
    }

    h5.callout-header {
        font-size: 1.2rem;
        border-color:#d9f0f5
    }

    .callout, .callout:before {
        background: #f1f7fa
    }

    form.filter-form {
        width: 96%
    }

    .form-submit-btns {
        margin: 15px 0 3px
    }

    .row {
        margin: 5px 0;

        .label {
            line-height: 1.9rem
        }
    }
}