.CaptureDetailPage {
  .ItemNote {
    font-size: 0.8rem;
    color: #9b9b9b;
  }

  .overview {
    margin: 40px 0 10px;
  }

  .rows {
    clear: both;
    // margin-top: 4px;

    .label {
      display: block;
      float: left;
      width: 20%
    }

    .value {
      display: block;
      float: left;
      width: 80%;
      word-break: break-all;
      // line-height: 1.4rem
    }
  }

  .row {

    .cardo,
    .cardo-content,
    .cardo-content>*,
    .rows {
      display: block;
      position: relative;
      width: 100%
    }
  }

  .scan-details {
    margin-top: 60px
  }

  .row.hist-tabs {
    margin-top: 40px;

    >div {
      position: relative;
      width: 100%;
    }

    .scan-history.cardo-header {
      margin-bottom: 20px
    }

    .MuiBox-root {
      padding-top: 10px
    }

    .MuiTabs-flexContainer {
      border-bottom: 1px solid #f3f1f1
    }
  }

  .scan-behavior {
    margin-bottom: 20px;

    .rows {
      clear: both
    }

    hr {
      margin: 8px 10px
    }

    .values {
      padding-left: 20px;
      margin-left: 10px;
      border-left: 3px solid #f4f4f6
    }

    .behavior-network {
      >.rows {
        margin-bottom: 10px;

        >.value>div:last-child {
          margin-bottom: 10px;

          hr {
            display: none
          }
        }
      }
    }

  }

  h5 {
    font-size: 0.9rem;
    font-weight: 600;
    // margin: 0.9rem 0 0.2rem
    margin: 0 0 0.2rem;
    line-height: 1.9
  }

  hr {
    clear: both;
    margin: 20px 10px;
  }

  .one-process:last-child>hr,
  .modules-list>div:last-child hr {
    display: none;
  }

  .modules-list.hidden>div,
  .modules-list:not(.hidden)>span,
  .value:not(.less) .content-more {
    display: none;
  }

  .modules-list.hidden>span,
  .less .content-more {
    // font-size:1.2rem;
    color: #aaa;
    cursor: pointer;
  }

  .less .display-content {
    max-height: 200px;
    position: relative;
    overflow: hidden;
  }


  .detect-div {
    padding: 10px 20px 0 20px;
    margin: 0;

    hr {
      margin: 20px 0 0
    }
  }

  .detect-1 {
    background: #fcf5f5;
  }


  .detect-div::before {
    font-family: "FontAwesome";
    content: "";
    position: absolute;
    font-size: 2.5rem;
    top: calc(50% - 45px);
    right: 30px;
    border: 0;
    padding: 0;
    width: 56px;
    height: 56px;
  }

  .detect-1:before,
  .detect-DANGER:before {
    content: '\f06a';
    color: #a94442;
  }

  .detect-1>hr {
    border-color: #f7dede;
  }

  // .detect-0:before,
  // .detect-OK:before {
  //   content: '\f00c';
  //   color: #3c763d;
  // }
}