.HistoryDetailPage {
  .ItemNote {
    font-size: 0.8rem;
    color: #9b9b9b;
  }

  .overview {
    margin: 40px 0 10px;
  }

  .rows {
    clear: both;

    .label{
      display: block;
      float: left;
      width:20%
    }
    .value{
      display: block;
      float: left;
      width:80%;
      word-break: break-all;
      line-height:1.4rem
    }
  }

  .row {

    .cardo,
    .cardo-content,
    .cardo-content>*,
    .rows {
      display: block;
      position: relative;
      width: 100%
    }
  }

  .row.hist-tabs {
    margin-top:40px;
    >div {
      position: relative;
      width: 100%;
    }

    .cardo-header{
      margin-bottom:20px
    }

    .MuiBox-root{padding-top:10px}
  }

  hr {
    clear: both;
    margin: 20px 10px;
  }

}