.HomePage{
    min-width: calc(100vw - 270px);
    height: 100%;
    display: flex;

    .Table{
        padding: 0;
        background-color: white;
    }

    .Detail{
        position: sticky;
        padding: 0;
        margin-left: 10px;
        background-color: white;

        .Header{
            width: 100%;
            background-color: #004F00;
            color: white;
            font-weight: bold;
            padding: 10px;
            line-height: 2;
            position: sticky;
            top:-30px
        }

        table{
            position: sticky;
            top:25px
        }
    }

    // .Table, .Table tbody, .Table tr{
    //     position: relative;
    //     width: 100%;
    // }

    .file_name{
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}